<!-- 	usersが投稿した一覧表示------------------------------------------------------------------------------------------>

<%= render 'books/temp', book: @book, user: current_user %>
    <!-- 投稿一覧------------------------------------------------------------------>
      <div class="col-xs-9">
        <h2>Users</h2>
        <table class="table">
          <thead>
            <tr>
				<th>image</th>
				<th>name</th>
				<th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
				<tr>
					<td>
					<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size:"60x60" %>
					</td>
					<td>
						<%= user.name %>
					</td>
					<td>
						<%= link_to "show",user_path(user.id) %>
					</td>
              	</tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
